@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
html {
  background-color: #f4f4f4;
}

body {
  max-width: 100%;
  color: #333;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
}

a {
  display: inline-block;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: all .4s;
}

a:hover, a:active {
  color: #da291c;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.field-name-body h1, .field-name-body h2, .field-name-body h3, .field-name-body h4 {
  margin: 1em 0;
}

.field-name-body a {
  color: #da291c;
}

.field-name-body a:hover, .field-name-body a:active {
  text-decoration: underline;
}

.node__title, .block__title, .comments__title, .comments__form-title, .comment__title {
  margin: 0;
}

.page__title {
  color: #da291c;
  margin: 0 0 0.75em;
}

@media (min-width: 992px) {
  .page__title {
    margin: 1.5em 0 0.75em;
  }
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

#main-content,
.element-invisible,
#skip-link {
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.breadcrumb {
  font-size: 0.8em;
  margin-top: 32px;
}

.breadcrumb ol {
  padding: 0;
  margin: 0;
}

.breadcrumb ol li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb ol li {
  display: inline;
}

.breadcrumb ol a {
  color: #999;
}

.breadcrumb ol a:hover, .breadcrumb ol a:active {
  text-decoration: underline;
}

.form-type-textfield > label,
.form-type-password > label,
.form-type-textarea > label {
  display: block;
  color: #999;
  font-size: 13px;
  text-transform: uppercase;
}

.form-type-textfield textarea,
.form-type-textfield input,
.form-type-password textarea,
.form-type-password input,
.form-type-textarea textarea,
.form-type-textarea input {
  max-width: 100%;
  width: 100%;
  color: #999999;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  transition: all .4s;
  padding: 0.5em;
}

.form-type-textfield textarea:focus,
.form-type-textfield input:focus,
.form-type-password textarea:focus,
.form-type-password input:focus,
.form-type-textarea textarea:focus,
.form-type-textarea input:focus {
  background: white;
}

@media (min-width: 992px) {
  .form-type-textfield input,
  .form-type-password input,
  .form-type-textarea input {
    width: auto;
  }
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  color: white;
  background: #999;
  padding: 0.3em 0.5em;
  font-size: 100%;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  box-shadow: none;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: #da291c;
}

.form-item {
  margin: 1.5em 0;
}

.description {
  font-size: 0.8em;
}

.form-actions > * {
  margin-right: 20px;
}

.form-actions > *:last-child {
  margin-right: 0;
}

.form-required {
  color: #da291c;
}

.form-type-select label {
  display: block;
}

.field-widget-options-buttons > .form-item > label {
  display: block;
  margin-bottom: .6em;
}

.field-widget-options-buttons > .form-item .form-item {
  margin: 0 0 0.5em;
}

ul.pager {
  text-align: center;
  padding: 0;
  margin: 1em 0 0 0;
}

ul.pager a {
  color: #da291c;
}

ul.pager a:hover, ul.pager a:active {
  text-decoration: underline;
}

ul.pager .pager-current {
  font-weight: bold;
}

ul.pager .pager-item, ul.pager .pager-first, ul.pager .pager-previous, ul.pager .pager-next, ul.pager .pager-last, ul.pager .pager-ellipsis, ul.pager .pager-current {
  display: inline;
  list-style-type: none;
  background-image: none;
  padding: 0 0.5em;
}

.top-bar__content,
.header,
.main__content,
.footer__content,
.navigation__content {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .top-bar__content,
  .header,
  .main__content,
  .footer__content,
  .navigation__content {
    max-width: 1200px;
  }
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left: 10px;
  padding-right: 10px;
}

.header__region {
  min-height: 75px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .header__region {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.header__region .block-user, .header__region .block-search {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header__region .block-user, .header__region .block-search {
    width: 50%;
    flex-grow: 2;
    margin-bottom: 0;
  }
}

.region-top-bar {
  padding: 0 10px;
}

.region-highlighted__wrapper {
  padding: 0 10px;
  position: relative;
}

@media (min-width: 992px) {
  .region-highlighted__wrapper {
    padding: 0;
  }
}

.region-highlighted__logo {
  z-index: 10;
  padding: 0;
  margin: 0;
}

@media (min-width: 992px) {
  .region-highlighted__logo {
    position: absolute;
    top: 1em;
    left: 74px;
  }
}

#navigation {
  background: url("../images/bg-menu.png") repeat-x center center #da291c;
}

#navigation::after {
  content: "";
  display: block;
  clear: both;
}

.main__content::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 992px) {
  .main__content #content {
    width: 80%;
    float: left;
    margin-left: 0;
    margin-right: -80%;
  }
}

@media (min-width: 992px) {
  .main__content #content .column__content {
    padding-right: 15%;
  }
}

.main__content .region-sidebar-first {
  margin-top: 5em;
}

@media (min-width: 992px) {
  .main__content .region-sidebar-first {
    width: 20%;
    float: left;
    margin-top: 6.1em;
    margin-left: 80%;
    margin-right: -100%;
  }
}

.main__content .region-sidebar-first .block {
  margin-bottom: 3em;
}

.main__content .region-sidebar-first .block__title {
  color: #da291c;
  line-height: 1em;
}

#footer {
  background: #da291c;
  margin-top: 30px;
}

#footer .footer__content {
  padding: 20px 0;
}

.search-results {
  padding: 0;
  margin: 0;
}

.search-results li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results .search-result {
  margin: 1em 0;
}

.search-results .search-result .title {
  font-weight: normal;
  margin: 0 0 3px;
}

.search-results a {
  color: #da291c;
}

.search-results a:hover, .search-results a:active {
  text-decoration: underline;
}

.tabs-primary {
  overflow: hidden;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(100%, #bbbbbb), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, #bbbbbb 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(bottom, #bbbbbb 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to top, #bbbbbb 1px, rgba(0, 0, 0, 0) 1px);
  list-style: none;
  white-space: nowrap;
  padding: 0 2px;
  margin: 1.5em 0;
}

.tabs-primary li {
  text-shadow: 1px 1px 0 white;
  border: 1px solid #bbbbbb;
  border-bottom-color: transparent;
  float: none;
  margin: 0 3px;
}

@media (min-width: 768px) {
  .tabs-primary li {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
  }
}

.tabs-primary li.tabs-primary__tab.is-active {
  border-bottom-color: #f4f4f4;
}

.tabs-primary li.tabs-primary__tab.is-active a {
  background: #f4f4f4;
  background-size: 100%;
  border-color: transparent;
}

.tabs-primary li a {
  display: block;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  background-color: #dedede;
  transition: background-color 0.3s;
  padding: .5em 1em;
}

@media (min-width: 768px) {
  .tabs-primary li a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 1em;
  }
}

.tabs-primary li a:hover {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}

.block-dday-add-sesion-block {
  margin-bottom: 3em;
}

.block-dday-add-sesion-block .button {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  display: block;
  color: #da291c;
  font-size: 18.72px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #da291c;
  border-radius: 3px;
  padding: 1em;
}

.block-dday-add-sesion-block .button:hover, .block-dday-add-sesion-block .button:focus, .block-dday-add-sesion-block .button:active {
  box-shadow: none;
}

.block-dday-add-sesion-block .button:hover, .block-dday-add-sesion-block .button:focus, .block-dday-add-sesion-block .button:active {
  color: #fff;
  background-color: #da291c;
}

#block-block-2 .block__title {
  margin-bottom: 15px;
}

#block-block-2 > div {
  margin-bottom: 10px;
}

#block-block-5 h2 > a {
  color: #da291c;
}

#block-block-5 h2 > a:hover, #block-block-5 h2 > a:active {
  text-decoration: underline;
}

.block-dday-register-block .button {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  display: block;
  color: #da291c;
  font-size: 18.72px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #da291c;
  border-radius: 3px;
  padding: 1em;
}

.block-dday-register-block .button:hover, .block-dday-register-block .button:focus, .block-dday-register-block .button:active {
  box-shadow: none;
}

.block-dday-register-block .button:hover, .block-dday-register-block .button:focus, .block-dday-register-block .button:active {
  color: #fff;
  background-color: #da291c;
}

#block-mailchimp-signup-newsletter .block__title {
  margin-bottom: 5px;
}

#block-menu-menu-footer > .menu {
  padding: 0;
  margin: 0;
}

#block-menu-menu-footer > .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#block-menu-menu-footer > .menu li {
  display: inline-block;
  margin-right: 20px;
}

#block-menu-menu-footer > .menu li:last-child {
  margin-right: 0;
}

#block-menu-menu-footer > .menu li a {
  color: white;
}

#block-menu-menu-footer > .menu li a:hover, #block-menu-menu-footer > .menu li a:active {
  text-decoration: underline;
}

.block-nice-menus {
  text-align: center;
}

.block-nice-menus ul.nice-menu {
  padding: 0;
  margin: 0;
}

.block-nice-menus ul.nice-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-nice-menus ul.nice-menu li {
  display: inline-block;
  background-color: transparent;
  float: none;
  border: 0;
}

.block-nice-menus ul.nice-menu li.menuparent {
  background: url("../images/arrow-down.png") right center no-repeat transparent;
}

.block-nice-menus ul.nice-menu li.menuparent:hover {
  background: url("../images/arrow-down.png") right center no-repeat transparent;
}

.block-nice-menus ul.nice-menu li.menuparent ul {
  border: none;
  top: 4em;
  left: 0;
}

.block-nice-menus ul.nice-menu li.menuparent ul .menu__item a {
  font-size: 0.875em;
  line-height: 1.5em;
  background: #da291c;
  border-bottom: 1px dotted white;
  padding: 1em 2em;
}

.block-nice-menus ul.nice-menu li.menuparent ul .menu__item a:hover {
  background: #c82218;
}

.block-nice-menus ul.nice-menu li:hover {
  background: transparent;
}

.block-nice-menus ul.nice-menu li a {
  color: #fff;
  font-size: 1em;
  line-height: 3.4em;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding: 0.3em 2em 0.1em 2em;
}

@media (min-width: 992px) {
  .block-nice-menus ul.nice-menu li a {
    padding: 0.3em 1.7em 0.3em;
  }
}

#block-system-powered-by {
  margin-bottom: 1.5em;
}

#block-system-powered-by a {
  color: #da291c;
}

#block-system-powered-by a:hover, #block-system-powered-by a:active {
  text-decoration: underline;
}

#block-system-user-menu .block__title {
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#block-system-user-menu .menu {
  padding: 0;
  margin: 0;
  margin: 20px 0;
}

#block-system-user-menu .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#block-system-user-menu .menu li {
  display: inline-block;
  margin-right: 20px;
}

#block-user-login > h2 {
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#block-views-comunidad-block .block__title {
  margin-bottom: 15px;
}

#block-views-flexslider-home-block {
  display: none;
}

@media (min-width: 992px) {
  #block-views-flexslider-home-block {
    display: block;
  }
}

#mailchimp-signup-subscribe-block-newsletter-form .form-actions {
  text-align: right;
  margin-top: 8px;
}

#mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  color: white;
  background: #da291c;
  padding: 0.3em 0.5em;
  font-size: 16px;
}

#mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:hover, #mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:focus, #mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:active {
  box-shadow: none;
}

#mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:hover, #mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:focus, #mailchimp-signup-subscribe-block-newsletter-form .form-actions input[type="submit"]:active {
  background: #c82218;
}

#search-block-form {
  text-align: right;
}

#search-block-form .container-inline {
  display: inline-block;
  position: relative;
}

#search-block-form .form-item {
  display: inline-block;
  margin: 0;
}

#search-block-form .form-item .form-text {
  padding: 0.5em 2em 0.5em 0.75em;
}

#search-block-form .form-actions {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  position: absolute;
  right: 0.5em;
  top: 0.3em;
}

#sesion-node-form .field-type-text-with-summary {
  margin-bottom: 1em;
}

#sesion-node-form .fieldset-wrapper > div.form-wrapper {
  margin: 0 0 2.5em;
}

#sesion-node-form .fieldset-wrapper > div.form-wrapper:last-child {
  margin-bottom: 0;
}

#sesion-node-form .form-field-name-field-speaker .field-multiple-table {
  width: 100%;
}

#sesion-node-form .form-field-name-field-speaker .field-multiple-table th {
  text-align: left;
}

#sesion-node-form .form-field-name-field-speaker .field-multiple-table td .form-item {
  margin: 0 0 5px;
}

#sesion-node-form .form-field-name-field-speaker .field-multiple-table td .form-required {
  display: none;
}

#sesion-node-form .form-actions {
  margin-top: 1em;
}

#user-login-form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

#user-login-form > div > .form-item {
  margin: 0 7px 0 0;
}

@media (min-width: 992px) {
  #user-login-form > div > .form-item {
    order: 1;
  }
}

#user-login-form > div .item-list {
  width: 100%;
}

@media (min-width: 992px) {
  #user-login-form > div .item-list {
    order: 3;
  }
}

#user-login-form > div .item-list ul {
  padding: 0;
  margin: 0;
}

#user-login-form > div .item-list ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#user-login-form > div .item-list ul li {
  display: inline-block;
  margin-right: 20px;
}

#user-login-form > div .item-list ul li:last-child {
  margin-right: 0;
}

#user-login-form > div .item-list ul li a {
  font-size: 14px;
}

@media (min-width: 992px) {
  #user-login-form > div .form-actions {
    order: 2;
  }
}

#user-login-form > div .form-actions input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  color: white;
  background: #999;
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;
  min-height: 30px;
  font-size: 16px;
  margin-top: 10px;
}

#user-login-form > div .form-actions input[type="submit"]:hover, #user-login-form > div .form-actions input[type="submit"]:focus, #user-login-form > div .form-actions input[type="submit"]:active {
  box-shadow: none;
}

#user-login-form > div .form-actions input[type="submit"]:hover, #user-login-form > div .form-actions input[type="submit"]:focus, #user-login-form > div .form-actions input[type="submit"]:active {
  background: #da291c;
}

#user-register-form .form-item {
  margin: 1.5em 0;
}

#user-register-form .form-actions {
  margin-top: 1em;
}

#views-exposed-form-sesiones-page .views-exposed-form {
  margin-bottom: 30px;
}

#views-exposed-form-sesiones-page .views-exposed-widgets > div {
  padding-top: 0;
  padding-right: 1.5em;
}

#views-exposed-form-sesiones-page .views-exposed-widgets > div:last-child {
  padding-right: 0;
}

.node-noticias.view-mode-teaser {
  padding: 25px 0;
}

.node-noticias.view-mode-teaser .field-name-field-imagen {
  margin-bottom: 20px;
}

.node-noticias.view-mode-teaser .node__title a {
  color: #da291c;
}

.node-noticias.view-mode-teaser .node__title a:hover, .node-noticias.view-mode-teaser .node__title a:active {
  text-decoration: underline;
}

.node-noticias.view-mode-teaser .field-name-node-link {
  text-align: right;
}

.node-noticias.view-mode-teaser .field-name-node-link a {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all .4s;
  -webkit-appearance: button;
  color: white;
  background: #da291c;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  border: none;
}

.node-noticias.view-mode-teaser .field-name-node-link a:hover, .node-noticias.view-mode-teaser .field-name-node-link a:focus, .node-noticias.view-mode-teaser .field-name-node-link a:active {
  box-shadow: none;
}

.node-noticias.view-mode-teaser .field-name-node-link a:hover, .node-noticias.view-mode-teaser .field-name-node-link a:focus, .node-noticias.view-mode-teaser .field-name-node-link a:active {
  background: #c82218;
}

.node-noticias.view-mode-teaser .field-name-node-link a:after {
  content: '+';
  padding: 0 0.3em 0 1em;
}

.node-teaser {
  border-top: 5px solid #da291c;
}

.node-teaser .field-name-body p {
  margin: 0.75em 0;
}

.view-colaboradores table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.view-colaboradores table .field-content {
  text-align: center;
}

.view-comunidad.view-display-id-block .view-content ul li {
  width: calc(50% - 10px);
  margin-bottom: 1em;
}

.view-comunidad.view-display-id-page .view-content ul li {
  width: 19%;
  padding-bottom: 1em;
  margin: 1em auto;
}

.view-comunidad .view-content ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.view-comunidad .view-content ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.view-comunidad .views-field-name,
.view-comunidad .views-field-picture {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .view-comunidad .views-field-name,
  .view-comunidad .views-field-picture {
    margin-right: 0;
    margin-left: 0;
  }
}

.view-comunidad .views-field-picture .field-content {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.view-comunidad .views-field-picture .field-content a {
  display: block;
}

.view-comunidad .views-field-name {
  line-height: 1em;
  border: 2px solid #da291c;
  border-radius: 4px;
  padding: 2px 0 3px 0;
}

.view-comunidad .views-field-name a {
  color: #da291c;
}

.view-comunidad .field-content {
  text-align: center;
  margin: 0 auto;
}

.view-comunidad .field-content a {
  display: block;
  color: #da291c;
  font-size: 12.24px;
}

.view-flexslider-home .view-content .flexslider {
  background: black;
  box-shadow: none;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0;
}

.view-flexslider-home .view-content .flexslider ul.slides {
  padding: 0;
  margin: 0;
}

.view-flexslider-home .view-content .flexslider ul.slides li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.view-flexslider-home .view-content .flexslider ul.slides .group-left {
  max-height: 400px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.view-flexslider-home .view-content .flexslider ul.slides .group-left img {
  display: inline-block;
  width: 100%;
}

.view-flexslider-home .view-content .flexslider ul.slides .group-right {
  max-width: 530px;
  width: 100%;
  height: 400px;
  background: url("../images/bg-slide.png") no-repeat top right transparent;
  padding: 200px 20px 0 80px;
  position: absolute;
  left: 0;
}

.view-flexslider-home .view-content .flexslider ul.slides .group-right .node__title {
  color: #da291c;
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}

.view-flexslider-home .view-content .flexslider ul.slides .group-right .field-name-field-slide-enlace a {
  color: black;
  font-size: 0.8em;
  font-weight: 600;
}

.view-flexslider-home .view-content .flexslider .flex-direction-nav .flex-prev {
  background-position: left -41px;
}

.view-flexslider-home .view-content .flexslider .flex-direction-nav a {
  display: block;
  overflow: hidden;
  width: 25px;
  height: 40px;
  background: url("../images/sprite.png") no-repeat left top transparent;
  text-align: inherit;
  text-indent: -1000px;
}

.view-flexslider-home .view-content .flexslider .flex-control-nav {
  bottom: 0;
}

.view-sesiones .view-content table {
  border-collapse: collapse;
}

.view-sesiones .view-content table thead tr {
  background: #da291c;
}

.view-sesiones .view-content table tbody tr:nth-child(even) {
  background: white;
}

.view-sesiones .view-content table tbody td {
  padding: 5px;
}

.view-sesiones .view-content .footable > thead > tr > th {
  text-align: left;
  padding: 5px;
}

.view-sesiones .view-content .footable > thead > tr > th a {
  color: white;
}

@media (min-width: 992px) {
  .front .column__content {
    padding-top: 4.6em;
  }
}

/*# sourceMappingURL=styles.css.map */
