.view-colaboradores {

  table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    tbody {

    }

    .field-content {
      text-align: center;
    }

  }

}
