/**
 * @file
 * SMACSS Modules
 *
 * Home styles.
 */

.front {
  .column__content {
    padding-top: 4.6em;
  }
  .node-promoted {
    @include breakpoint($tablet) {
      display: inline-block;
      vertical-align: top;
      width: 43%;
      &:nth-of-type(2n) {
        margin-right: 8%;
      }
    }
  }
}
