/**
 * @file
 * SMACSS Modules
 *
 * Navigation styles.
 */

/**
 * Navigation bar.
 */
#navigation {
  /* Sometimes you want to prevent overlapping with main div. */
  /* overflow: hidden; */
  background: image-url('bg-menu.png') repeat-x center center $main-base-color;
  .block {
    margin-bottom: 0;
    text-align: center;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }

  /* Main menu and secondary menu links and menu block links. */
  .links,
  .menu {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #fff;

    li {
      /* A simple method to get navigation links to appear in one line. */
      float: left;
      padding: 0 10px 0 0;
      list-style-type: none;
      list-style-image: none;
    }
  }
}

/**
 * Menus.
 */
.menu__item.is-leaf {
  list-style-image: inline-image("menu-leaf.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-leaf.png");
  }
  list-style-type: square;
}
.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-expanded.png");
  }
  list-style-type: circle;
}
.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: image-url("menu-collapsed.png");
  }
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  color: #000;
}

/**
 * General Nice Menu styles.
 */
ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

ul.nice-menu {
  ul {
    top: 4em;
    left: -1px; /* LTR */
    border: 0;
    //border-top: 1px solid #ccc;
    margin-right: 0; /* LTR */
  }
  li {
    border: 0;
    border-top: 0;
    float: none; /* LTR */
    display: inline-block;
    //background-color: #eee;
  }
  a {
    line-height: 3.4em;
    padding: 0.3em 2em 0.1em 2em;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    text-decoration: none;
    @include breakpoint($mobile) {
      padding: 0.4em 0.3em 0.1em 0.3em;
      font-size: 0.9em;
    }
    @include breakpoint($tablet) {
      padding: 0.3em 0.6em 0.1em 0.6em;
      font-size: 1em;
    }
    @include breakpoint($desktop) {
      padding: 0.3em 2em 0.1em 2em;
    }
  }
  ul li {
    width: 18em;
    font-size: 0.9em;
  }
}

/**
 * HORIZONTAL (down) menus
 */
ul.nice-menu-down {
  float: none; /* LTR */
  border: 0;
  ul {
    left: 0; /* LTR */
    li {
      clear: both;
    }
  }
  li {
    border: 0 1px 0 0;
    background-color: transparent;
    ul li ul {
      left: 12.5em; /* LTR */
      top: -1px;
    }
    li {
      border-top: 0;
    }
    li.menuparent {
      background: image-url('arrow-right.png') right center no-repeat transparent; /* LTR */
      &:hover {
        background: image-url('arrow-right.png') right center no-repeat transparent; /* LTR */
      }
    }
  }
  .menuparent {
    a {
      @include breakpoint($mobile) {
        padding-right: 1em;
      }
      @include breakpoint($tablet) {
        padding-right: 1.5em; /* LTR */
      }
    }
    .menu__item a {
      background-color: $main-base-color;
      line-height: 1.5em;
      padding: 1em 2em;
      border-bottom: 1px dotted white;
      &:hover {
        background-color: $main-base-color-hover;
    }
    }
  }
  li.menuparent {
    background: image-url('arrow-down.png') right center no-repeat transparent; /* LTR */
    &:hover {
      background: image-url('arrow-down.png') right center no-repeat transparent; /* LTR */
    }
  }
}
