/**
 * @file
 * SMACSS Modules
 *
 * View styles.
 */

/**
 * Noticias page.
 */
.view-noticias {
  .views-row {
    margin-bottom: 1em;
    @include breakpoint($tablet) {
      display: inline-block;
      vertical-align: top;
      width: 43%;
      &.views-row-odd {
        margin-right: 8%;
      }
    }
  }
}

/**
 * Sesiones table.
 */
.view-sesiones {
  font-size: 0.9em;
  th {
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: $font-title;
    line-height: 1.1em;
  }
  .views-field-title {
    padding: 0.2em 0 0.2em 0.2em;
    font-family: $font-title;
    @include breakpoint($desktop) {
      font-size: 1em;
    }
    a {
      display: inline-block;
      max-width: 90%;
      line-height: 1.2em;
    }
  }
}

/**
 * Asistentes view.
 */
.view-comunidad {
  ul {
    margin: 1em 0 0 0;
    padding: 0;
  }
  .views-row {
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
  }
  .views-field-picture {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  .field-content {
    display: block;
    font-size: 0.9em;
    text-align: center;
    a {
      display: block;
      margin: 0 auto;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .views-field-name {
    max-width: 80%;
    border: 2px solid $main-base-color;
    border-radius: 4px;
    padding: 2px 0 3px 0;
    line-height: 1em;
    &:hover {
      background-color: $main-base-color;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .more-link {
    background-color: $main-base-color;
    border: 0 none;
    color: #fff;
    float: right;
    padding: 0.2em 0.5em 0.3em;
    a {
      color: #fff;
    }
  }
  &.view-display-id-block {
    .views-row {
      margin: 0;
      padding-bottom: 1em;
      width: 49%;
      font-size: 0.85em;
    }
    .views-field-name {
      max-width: 95%;
    }
  }
  &.view-display-id-page {
    .views-row {
      margin: 1em auto;
      padding-bottom: 1em;
      width: 19%;
    }
    .views-field-name {
      max-width: 80%;
      border: 2px solid $main-base-color;
      border-radius: 4px;
      padding: 2px 0 3px 0;
      &:hover {
        background-color: $main-base-color;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
