.form-type-textfield,
.form-type-password,
.form-type-textarea {

  > label {
    display: block;
    color: $color-grey-b;
    font-size: 13px;
    text-transform: uppercase;
  }

  textarea,
  input {
    max-width: 100%;
    width: 100%;
    color: #999999;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid $color-grey-b;
    border-radius: 3px;
    outline: none;
    transition: all .4s;
    padding: 0.5em;

    &:focus {
      background: white;
    }

  }

  input {
    @media (min-width: $desk) {
      width: auto;
    }
  }

}

input[type="submit"] {
  @include btn-grey;
  font-size: 100%;
}

.form-item {
  margin: 1.5em 0;
}

.description {
  font-size: 0.8em;
}

.password-confirm,
.password-strength {

}
