.top-bar__content,
.header,
.main__content,
.footer__content,
.navigation__content {
  @include container;
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left: 10px;
  padding-right: 10px;
}

.header__region {
  min-height: 75px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;

  @media (min-width: $desk) {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .block-user, .block-search {
    width: 100%;

    @media (min-width: $desk) {
      width: 50%;
      flex-grow: 2;
    }

  }

}

.region-highlighted__wrapper {
  position: relative;
}

.region-highlighted__logo {
  z-index: 10;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1em;
  left: 74px;
}

#navigation {
  @include clearfix;
  background: url(image-url("bg-menu.png")) repeat-x center center $color-red-a;
}

.main__content {
  @include clearfix;

  #content {

    @media (min-width: $desk) {
      width: 80%;
      float: left;
      margin-left: 0;
      margin-right: -80%;
    }

    .column__content {

      @media (min-width: $desk) {
        padding-right: 15%;
      }

    }

  }

  .region-sidebar-first {

    @media (min-width: $desk) {
      width: 20%;
      float: left;
      margin-top: 6.1em;
      margin-left: 80%;
      margin-right: -100%;
    }

    .block {
      margin-bottom: 3em;
    }

    .block__title {
      color: $color-red-a;
      line-height: 1em;
    }

  }

}
